<section class="login-container">
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">

      <div class="infologin">
        <p>utilize essas informações para fazer login: <br> usuario: root <br> senha: root000</p>
     

   </div>
      <h2>Login</h2>
  
      <div class="form-group">
        <label for="username">Usuário</label>
        <input
          type="text"
          id="username"
          formControlName="username"
          placeholder="Digite seu usuário"
          class="form-control"
        />
        <div *ngIf="loginForm.controls['username']?.invalid && loginForm.controls['username']?.touched" class="error">
          Usuário é obrigatório.
        </div>
      </div>
      
      <div class="form-group">
        <label for="password">Senha</label>
        <input
          type="password"
          id="password"
          formControlName="password"
          placeholder="Digite sua senha"
          class="form-control"
        />
        <div *ngIf="loginForm.controls['password']?.invalid && loginForm.controls['password']?.touched" class="error">
          Senha é obrigatória.
        </div>
      </div>
  
      <button type="submit" class="btn btn-primary" [disabled]="loginForm.invalid">Entrar</button>
      
  
      <p *ngIf="errorMessage" class="error-message">{{ errorMessage }}</p>

      <div class="form-group-authentication">

        <div class="google">
          <img class="imggoogle" src="/img-login/google.png" alt="1">
          <p>entre com sua conta google</p>
        </div>

        <div class="linkedin">
          <img class="imglinkedin" src="/img-login/linkedin.png" alt="2">
          <p>entre com sua conta linkedin</p>
        </div>

        <div class="git">
          <img class="imggithub" src="/img-login/github.png" alt="3">
          <p>entre com sua conta linkedin</p>

        </div>
        <p>esqueci a senha</p>

      </div>

      <div class="help">
        
      </div>

      
    </form>
  </section>