.login-container {
    max-width: 400px;
    margin: 100px auto;
    padding: 20px;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    
    h2 {
      text-align: center;
      margin-bottom: 20px;
      font-size: 1.8rem;
    }
  
    .form-group {
      display: flex;
      margin-bottom: 15px;
      align-items: center;
      justify-content: center;
      flex-direction: column;
  
      label {
        display: block;
        margin-bottom: 5px;
        font-weight: bold;
        font-size: 20px;
      }
  
      .form-control {
        width: 100%;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 4px;
      }
  
      .error {
        color: red;
        font-size: 0.9rem;
        margin-top: 5px;
      }
    }
  
    .btn {
      width: 100%;
      padding: 10px;
      background-color: #007bff;
      border: none;
      color: white;
      font-size: 1rem;
      cursor: pointer;
      border-radius: 4px;
  
      &:hover {
        background-color: #0056b3;
      }
    }
  
    .error-message {
      color: red;
      text-align: center;
      margin-top: 15px;
    }
  }

  .form-group-authentication{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
    margin-top: 8px;
  }

  .infologin{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: solid rgb(0, 174, 255) 1px;
    border-radius: 5px;
  }

  .google{
    border: solid rgb(0, 174, 255) 1px;
    width: 398px;
    height: 32px;
    border-radius: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .imggoogle{
    width: 20px;
    margin-right: 20px;
  }
  .linkedin{
    border: solid rgb(0, 174, 255) 1px;
    width: 398px;
    height: 32px;
    border-radius: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .imglinkedin{
    width: 20px;
    margin-right: 20px;
  }
  .git{
    border: solid rgb(0, 174, 255) 1px;
    width: 398px;
    height: 32px;
    border-radius: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .imggithub{
    width: 20px;
    margin-right: 20px;
  }